openocd/openocd/openocd_blackfin_config.dtd

<!-- The root element of a Blackfin target config is <blackfin-config>.  -->

<!ELEMENT blackfin-config	(processor)>
<!ATTLIST blackfin-config	version		CDATA	#FIXED "1.0">

<!ELEMENT processor		(config)>
<!ATTLIST processor		name		CDATA	#REQUIRED>

<!ELEMENT config		EMPTY>
<!ATTLIST config		name		CDATA	#REQUIRED
						value		CDATA	#REQUIRED>
